BODY {
	FONT-FAMILY: Verdana,Tahoma,sans-serif, simsun; FONT-SIZE: 12px
}
P {
	FONT-FAMILY: Verdana,Tahoma,sans-serif, simsun; FONT-SIZE: 12px
}
TABLE {
	FONT-FAMILY: Verdana,Tahoma,sans-serif, simsun; FONT-SIZE: 12px
}
TD {
	FONT-FAMILY: Verdana,Tahoma,sans-serif, simsun; FONT-SIZE: 12px
}
INPUT {
	FONT-FAMILY: Verdana,Tahoma,sans-serif, simsun; FONT-SIZE: 12px
}
DIV {
	FONT-FAMILY: Verdana,Tahoma,sans-serif, simsun; FONT-SIZE: 12px
}
SELECT {
	FONT-FAMILY: Verdana,Tahoma,sans-serif, simsun; FONT-SIZE: 12px
}
BUTTON {
	FONT-FAMILY: Verdana,Tahoma,sans-serif, simsun; FONT-SIZE: 12px
}
SPAN {
	FONT-FAMILY: Verdana,Tahoma,sans-serif, simsun; FONT-SIZE: 12px
}
#mainHeader #portal A {
	FONT-SIZE: 12px
}
#mainHeader #setting {
	FONT-SIZE: 12px
}
