
.x-form-focus, textarea.x-form-focus{
	border-color:#FF0000;
	border: 1px solid;
}

.x-form-focus, textarea.x-form-focus{
	border-color:#FF0000;
	border: 1px solid;
}

.x-form-focus, textarea.x-form-focus{
	border-color:#7eadd9;
	border-color:#FF0000;
}